<article>
    <h2><a href="{{ base_path }}/{{ blog }}/{{ slug }}/">{{ title }}</a></h2>
    <p class="meta">Published on {{ date }} by <b>{{ author }}</b></p>

    <p class="content">
        {{ content }}&nbsp;
        <!-- a class="more" href="{{ base_path }}/{{ blog }}/{{ slug }}/">...</a -->
    </p>
    <!--
<p class="summary">
{{ summary }}&nbsp;<a class="more" href="{{ base_path }}/{{ blog }}/{{ slug }}/">...</a>
</p> mmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
-->

    <hr />

    <!--
<div>
<a class="more" href="{{ base_path }}/{{ blog }}/{{ slug }}/">Read More</a>
</div>
-->
</article>