<!DOCTYPE html>
<html>

<head>
    <title>{{ title }} - {{ subtitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css">
</head>

<body id="{{ slug }}">
    <script id="replace_with_navbar" src="/share/nav.js"></script>
    <br />
    <br />
    <br />
    <em>Interim blog setup, rough notes being dumped here at the moment - I'll tidy once I get to a milestone. And sorry
        about the layout, that'll probably take even longer to get around to... #TODO</em>
    <br />
    <br />
    <main>
        {{ content }}
    </main>

    <footer>
        <section>
            <p>&copy; 2023 Danny Ayers, CC Attribution/MIT License</p>
            <p>Made with <a href="https://github.com/sunainapai">makesite</a></p>
        </section>
    </footer>

</body>

</html>