@font-face {
	font-family: 'ThrumsSerif';
	src: url('fonts/ThrumsSerif.eot');
	src: url('fonts/ThrumsSerif.eot?#iefix') format('embedded-opentype'),
		url('fonts/ThrumsSerif.woff') format('woff'),
		url('fonts/ThrumsSerif.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
    font-family: ThrumsSerif, sans-serif;
}